<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>フォーム</title>
        <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
        <script src="/javascripts/form.js"></script>
    </head>
    <body>
        <h1>お問い合わせページ</h1>
    </body>
</html>