<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>フォーム</title>
        <%-include('./header')%>
        <script src="/javascripts/form.js"></script>
    </head>
    <body>
        <h1>お問い合わせページ</h1>
    </body>
</html>