<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>ホーム</title>
        <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
        <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
        <script src="/javascripts/index.js"></script>
    </head>
    <body>
        <p v-bind:style="{color: 'red'}"><%-content%></p>
        <p v-bind:style="{color: 'red'}">a</p>
        <div id="app" v-bind:style="{color:'red'}">
            { message }}
        </div>
    </body>
</html>