<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>ホーム</title>
        <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <script src="/javascripts/index.js"></script>
    </head>
    <body>
        <p v-bind:style="{color:red}"><%-content%></p>
    </body>
</html>