<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>ホーム</title>
        <%-include('./header')%>
        <script type="text/javascript" src="/javascripts/index.js"></script>
        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>
    <body>
    <div id="content">
    <h2>ようこそ<%=userId%>さん</h2>
        <section>
            <p>あなたの「したいこと」を書き込もう！</p>
            <a class="btn" href="/main">TODOリストへ</a>
        </section>
    </div>
    </body>
</html>