<!DOCTYPE html>
<html lang="ja">
    <head>
        <%# <%- include('./header')%> %>
        <title>ホーム</title>
        <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
        <script src="/javascripts/index.js"></script>
        <script type="text/javascript" src="/javascripts/script.js"></script>
    </head>
    <body>
        <h1>ホーム画面</h1>
        <h2>ようこそ<%=userId%>さん<h2>
    </body>
</html>