<!DOCTYPE html>
<html lang="ja">
    <head>
        <%- include('header')%>
        <title>ホーム</title>
        <script src="/javascripts/index.js"></script>
    </head>
    <body>
        <h1>ホーム画面</h1>
        <h2>ようこそ<%=userId%>さん<h2>
    </body>
</html>