<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>ホーム</title>
        <%- include('header')%>
        <%# <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" /> %>
        <script type="text/javascript" src="script.js"></script>
        <script src="/javascripts/index.js"></script>
    </head>
    <body>
        <h1>ホーム画面</h1>
        <h2>ようこそ<%=userId%>さん<h2>
    </body>
</html>