<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>ログイン</title>
        <%-include('./header')%>
        <script src="/javascripts/login.js"></script>
    </head>

    <body>
    <h1>ログインしてください</h1>
    <form action="/signIn" method="post">
        <input type="text" name="userId" class="name" placeholder="UserID" required>
        <input type="password" name="password" class="email" placeholder="Password" required>
        <button type="submit" class="btn">Log In</button>
    </form>
    </body>
</html>