<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>ログイン</title>
        <%-include('./header')%>
        <script type="text/javascript" src="/javascripts/login.js"></script>
    </head>

    <body>
    <section>
    <h1>ログインしてください</h1>
    <p><%=message%></p>
    <form action="/login/signIn" method="post">
        <input type="text" name="userId" class="name" placeholder="UserID" minlength="3" maxlength="10" required>
        <input type="password" name="password" class="email" placeholder="Password"  minlength="6" maxlength="16" required>
        <button type="submit">Log In</button>
    </form>
    <a href="login/sign_up"><span>アカウント作成</span></a>
    </section>
    <section>
    <div id="app">
  <ol>
    <li v-for="todo in todos">
      <p v-if="todo.seen">
        {{ todo.text }}
      </p>
    </li>
  </ol>
</div>
    </section>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</html>