<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>ログイン</title>
        <%-include('./header')%>
        <script src="/javascripts/login.js"></script>
    </head>

    <body>
    <section>
    <h1>ログインしてください</h1>
    <p><%=message%></p>
    <form action="/signIn" method="post">
        <input type="text" name="userId" class="name" placeholder="UserID" maxlength="10" required>
        <input type="password" name="password" class="email" placeholder="Password" maxlength="16" required>
        <button type="submit" class="btn">Log In</button>
    </form>
    <a href="/sighUp"><span>アカウント作成</span></a>
    </section>
    <section>
    </section>
    </body>
</html>