<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>ログイン</title>
        <%-include('./header')%>
        <script type="text/javascript" src="/javascripts/login.js"></script>
    </head>

    <body>
    <section>
    <h1>ログインしてください</h1>
    <p><%=message%></p>
    <form action="/login/signIn" method="post">
        <input type="text" name="userId" class="name" placeholder="UserID" minlength="3" maxlength="10" required v-bind:value="hoge">
        <input type="password" name="password" class="email" placeholder="Password"  minlength="6" maxlength="16" required>
        <button type="submit">Log In</button>
    </form>
    <a href="login/sign_up"><span>アカウント作成</span></a>
    </section>
    <section>
    </section>
    </body>
</html>