<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>TODOリスト</title>
        <%-include('./header')%>
    </head>
    <body>
    <article>
    <h1>TODOリスト</h1>
    <section>
    <h3 class="must">やらなければならないこと</h3>
    <% for(let key in m){ %>
        <p><%= m[key]%></p>
    <% } %>
    </section>

    <section>
    <h3 class="want">やること</h3>
    <% for(let key in w){ %>
        <p><%= w[key]%></p>
    <% } %>
    </section>

    <section>
    <h3 class="eventually">そのうちすること</h3>
    <% for(let key in e){ %>
        <p><%= e[key]%></p>
    <% } %>
    </section>
    </article>
    </body>
</html>