<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>TODOリスト</title>
        <%-include('./header')%>
    </head>
    <body>
    <article>
    <h1>TODOリスト</h1>
    <section>
    <h3 class="must">やらなければならないこと</h3>
    <% for(let i = 0;i < m.length ;i++){ %>
        <p><%= m[i]%></p>
    <% } %>
    </section>

    <section>
    <h3 class="want">やること</h3>
    <% for(let i = 0;i < w.length ;i++){ %>
        <p><%= w[i]%></p>
    <% } %>
    </section>

    <section>
    <h3 class="eventually">そのうちすること</h3>
    <% for(let i = 0;i < e.length ;i++){ %>
        <p><%= e[i]%></p>
    <% } %>
    </section>
    </article>
    </body>
</html>