<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>TODOリスト</title>
        <%-include('./header')%>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
    <div id="wrap">
        <article>
        <h1>TODOリスト</h1>
        <section>
        <div class="must">
            <h3>しないといけないこと</h3>
            <% for(let item of m){ %>
                <p><%= item %></p>
            <% } %>
        </div>
        </section>

        <section>
        <div class="eventually">
            <h3>そのうちすること</h3>
            <% for(let item of e){ %>
                <p><%= item %></p>
            <% } %>
        </div>
        </section>

        <section>
        <div class="want">
            <h3>やりたいこと</h3>
            <% for(let item of w){ %>
                <p><%= item %></p>
            <% } %>
        </div>
        </section>
        </article>
    </div>
    </body>
</html>