<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>TODOリスト</title>
        <%-include('./header')%>
    </head>
    <body>
    <h1>TODOリスト</h1>
    <section>
    <h3 id="must">やらなければならないこと</h3>
    <%= data%>
    <h3 id="want">やること</h3>
    <h3 id="eventually">そのうちすること</h3>
    </section>
    </body>
</html>