<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>登録</title>
        <%-include('./header')%>
    </head>

    <body>
    <section>
    <h1>必要情報を入力してください</h1>
    <form action="/login/sign_up/do" method="post">
        <input type="text" name="userId" class="name" placeholder="UserID" minlength="3" maxlength="10" required>
        <input type="password" name="password" class="email" placeholder="Password" minlength="6" maxlength="16" required>
        <button type="submit" class="btn">Sign Up</button>
    </form>
    </section>
    <section>
    </section>
    </body>
</html>