<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>登録</title>
        <%-include('./header')%>
    </head>

    <body>
    <section>
    <form action="/sign_up" method="post">
        <input type="text" name="userId" class="name" placeholder="UserID" maxlength="10" required>
        <input type="password" name="password" class="email" placeholder="Password" maxlength="16" required>
        <button type="submit" class="btn">Log In</button>
    </form>
    </section>
    <section>
    </section>
    </body>
</html>