body {
    background-image :url(../images/MS251_memotonewsp_TP_V.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}