@charset "utf-8";

body {
    width: 960px;
    margin: 160px auto 0 auto;
    background-color: #546474;
}

section {
    margin: 0 30%;
    background-color: #ffffff;
    border-radius: 0.67em;
}

h1 {
    font-size: 2em;
    font-family: 'Bitter', serif;
    /* padding:  */
}

input {
    width: 240px;
    height: 30px;
    margin: 0.7em auto;
    white-space: pre-line;
    word-break: break-all;
}
button {
    width: 240px;
    height: 30px;
    margin: 0.7em auto;
}