@charset "utf-8";

body {
    width: 960px;
    margin: 160px auto 0 auto;
    background-color: #bcccd9;
}

section {
    margin: 0 30%;
    padding: 7px 0 15px 0;
    background-color: #ffffff;
    border-radius: 0.67em;
}

h1 {
    font-size: 1.4em;
    font-family: 'Bitter', serif;
    text-align: center;
}

form {
    width: 240px;
    margin: 0 auto;
}

input {
    width: 240px;
    height: 30px;
    margin: 0.5em auto;
    border-radius: 0.38em;
    white-space: pre-line;
    word-break: break-all;
}
button {
    width: 240px;
    height: 40px;
    color: #ffffff;
    background-color: #9aadbe;
    margin: 0.5em auto;
    border-radius: 0.38em;
}

a {
    width: 240px;
    color: #bcccd9;
    margin: 0.5em auto;
    /* text-align: right; */
}

span {
    /* text-align: right; */
}