@charset "utf-8";

#wrap {
    width: 960px;
    margin: 0 auto;
}
section {
    width: 30%;
    display: inline-block;
    vertical-align:  top; 
    padding:  10px;
    margin-bottom: 10px;
}
.list {
    text-align: left;
}
.list-checkbox , .list-content {
    transition-property: opacity; 
    transition-duration: 1s;
    opacity: 1;
}
.list-checkbox:checked , .list-checkbox:checked + .list-content{
    opacity: 0;
}
.list-content {
    display: inline;
}

.list-content:after {
    content: "\A" ;
    white-space: pre-wrap ;
}

footer {
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
    background-color: #767671;
    width: 960px;
    margin: 150px auto 0;
    text-align: left;
    background-color: transparent;
}
@media screen and (max-width:480px) {
    body {
        height: 100vh;
    }

    #main {
        width: 90%;
        height: 80vh;
        overflow: auto;
    }

    #wrap {
        width: 100%;
    }

    section {
        display: inline;
        vertical-align:  baseline; 
    }

    footer {
        width: 100%;
        margin: 20px 0 0;
        text-align: center;
        background-color: transparent;
    }
}